{% extends 'base.html.twig' %}

{% block title %}GenderList index{% endblock %}

{% block body %}
    <h1>GenderList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>GenderValue</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gender_list in gender_lists %}
            <tr>
                <td>{{ gender_list.id }}</td>
                <td>{{ gender_list.genderValue }}</td>
                <td>
                    <a href="{{ path('app_gender_list_show', {'id': gender_list.id}) }}">show</a>
                    <a href="{{ path('app_gender_list_edit', {'id': gender_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gender_list_new') }}">Create new</a>
{% endblock %}
