{% extends 'base.html.twig' %}

{% block title %}AdminNotes index{% endblock %}

{% block body %}
    <h1>AdminNotes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>UpdatedAt</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin_note in admin_notes %}
            <tr>
                <td>{{ admin_note.id }}</td>
                <td>{{ admin_note.content }}</td>
                <td>{{ admin_note.updatedAt ? admin_note.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ admin_note.createdAt ? admin_note.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_notes_show', {'id': admin_note.id}) }}">show</a>
                    <a href="{{ path('app_admin_notes_edit', {'id': admin_note.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_notes_new') }}">Create new</a>
{% endblock %}
