{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	| Login
{% endblock %}

{% block body %}
	<div
		class="base">

		<!-- Page -->
		<div
			class="page">

			<!-- Page Header-->
			<section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
				<div class="container">
					<div class="row">
						{% if resetToken != null %}
							<div class="col-md-12 alert alert-success" role="alert">
								<p>
									If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
																		        This link will expire in
									{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
								</p>
								<p>If you don't receive an email please check your spam folder or
									<a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
							</div>
						{% endif %}
						<div class="col-md-12">
							<h2 class="white-text">Login</h2>
							<span class="white-text">Welcome on board</span>
							<ol class="breadcrumb">
								<li>
									<a href="{{ path('app_home') }}">Home</a>
								</li>
								<li class="active">Login</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<!-- Page Content-->
			<section class="section-padding gray-bg log-section">
				<div class="container">
					<div class="row">

						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="card card-panel">
								<h3 class="text-extrabold">Log in to your account</h3>

								<form action="{{ path('app_login') }}" id="login-form" role="form" method="post" accept-char="UTF-8" autocomplete="off" data-parsley-validate>

									<input type="hidden" name="_token" value="">

									<div class="input-field">
										<input type="email" id="email" name="_username" value="{{ last_username }}" required autofocus data-parsley-trigger="change" data-parsley-error-message="A valid email address is required.">
										<label for="email">Email</label>
										<span class="help-block">Type your email address.</span>
									</div>
									<div class="input-field">
										<input type="password" id="password" name="_password" required data-parsley-trigger="change" data-parsley-error-message="The password must be at least 6 characters.">
										<label for="password">Password</label>
										<i class="fa fa-eye show-password"></i>
										<span class="help-block">Type your password.</span>
									</div>
									<div class="checkbox">
										<input type="checkbox" id="keep-logged" name="_remember_me" checked>
										<label for="keep-logged">Keep me logged in</label>
									</div>
									{% if error %}
										<div id="errormsg">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
									{% endif %}
									<input type="hidden" name="_target_path" value="{{ path('app_profile') }}">
									<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
									<button type="submit" class="btn btn-lg gradient secondary btn-block waves-effect waves-light mt-20 mb-20">Login</button>
									<div class="links">
										<a href="{{path('app_forgot_password_request')}}">Forgot your password?</a>
									</div>
								</form>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-8">
							<div class="card card-panel ptb-70 text-center">
								<div class="promo-info">
									<h1 class="text-uppercase mb-30 text-extrabold font-30">New to Luxury Services ?</h1>
									<p class="width-60 mb-30">Joining us is allowing our recruitment expertise and personal guidance to bring the best out in you by choosing the most suited position.</p>
									<a href="{{ path('app_register') }}" class="btn btn-lg gradient secondary waves-effect waves-light mt-20">
										<span>Sign-up<strong>
												Free</strong>
										</span>
									</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
		</div>
	</div>
{% endblock %}
