{% extends 'base.html.twig' %}

{% block title %}Candidate index{% endblock %}

{% block body %}
    <h1>Candidate index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Adress</th>
                <th>Country</th>
                <th>Nationality</th>
                <th>IsPassportValid</th>
                <th>CurrentLocation</th>
                <th>DateOfBirth</th>
                <th>PlaceOfBirth</th>
                <th>IsAvailable</th>
                <th>ShortDescription</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidate in candidates %}
            <tr>
                <td>{{ candidate.id }}</td>
                <td>{{ candidate.firstName }}</td>
                <td>{{ candidate.lastName }}</td>
                <td>{{ candidate.adress }}</td>
                <td>{{ candidate.country }}</td>
                <td>{{ candidate.nationality }}</td>
                <td>{{ candidate.isPassportValid ? 'Yes' : 'No' }}</td>
                <td>{{ candidate.currentLocation }}</td>
                <td>{{ candidate.dateOfBirth ? candidate.dateOfBirth|date('Y-m-d') : '' }}</td>
                <td>{{ candidate.placeOfBirth }}</td>
                <td>{{ candidate.isAvailable ? 'Yes' : 'No' }}</td>
                <td>{{ candidate.shortDescription }}</td>
                <td>{{ candidate.createdAt ? candidate.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_candidate_show', {'id': candidate.id}) }}">show</a>
                    <a href="{{ path('app_candidate_edit', {'id': candidate.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_candidate_new') }}">Create new</a>
{% endblock %}
